// font family
$ff-public: 'Kumbh Sans', sans-serif;

// Font size
$fs-normal: 1rem;

// Font weights
$font-weights: (
	fw-normal: 400,
	fw-bold: 700,
);

@function font-weight($weight) {
	@return map-get($font-weights, $weight);
}
