@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';
@import './partials/variables';

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $ff-public;
	font-size: 1.8rem;
	color: color(very-dark-desaturated-blue);
	text-transform: capitalize;
	line-height: 1;
	// position: relative;

	background-image: url(./images/bg-pattern-top.svg),
		url(./images/bg-pattern-bottom.svg);
	background-position: left;
	background-size: 150%;
	background-repeat: no-repeat;
	background-color: color(dark-cyan);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	max-width: 38rem;
	margin: 0 auto;
}

.profile-component {
	border-radius: 1.4rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.bg-card {
	width: 100%;
	margin-bottom: 8rem;
}

.img-container {
	position: relative;
}

.img {
	width: 10.8rem;
	height: 10.8rem;
	border-radius: 50%;
	border: 7px solid #fff;
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -125%);
}

.char-text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;
	margin-bottom: 1.6rem;
}

.char-text-box::after {
	content: ' ';
	border: 1px solid #ebebeb;
	width: 50rem;
	margin: 2.2rem 0;
}

.span,
.char-location,
.stat-text {
	color: color(dark-gray);
}
.char-text {
	font-size: 2.2rem;
	display: flex;
	gap: 1.2rem;
}

.char-location {
	font-size: 1.8rem;
}

.media-info {
	display: flex;
	gap: 4.8rem;
}

.stat-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
	list-style: none;
}

.stat-number {
	font-weight: font-weight(fw-bold);
	font-size: 2.4rem;
	letter-spacing: -0.3px;
}

.stat-text {
	font-size: 1.2rem;
	letter-spacing: 1.5px;
}

@include laptop-query {
	.profile-component {
		transform: scale(0.9);
	}
}
